body {
    background-color: aqua;
}

h1 {
    font-size: 5em;
    color: green;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
}

h2 {
    align-content: center;
    color: aqua;
}
